

*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin:0px;
  padding: 0px;
  color: #000;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}
.contents1{
  font-size: 25px;
  font-weight: lighter;
}
.contents2{
  font-size: 18px;
}
.contents3 {
  font-size: 14px;
  font-weight: 100;
}
.contents1_bold{
  font-size: 18px;
  font-weight: bold;
}

.result{
  margin-top: 10px;
  font-size: 18px;
}


.intro_bg{
  background-image: url("image/intro.png");
  width: 100%;
  height: 714px;
}

.header{
  width:1280px;
  margin:auto;
  display:flex;
  height: 86px;
}
.searchArea{
  width:300px;
  height:40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top:24px;
}
.searchArea > form > input{
  border:none;
  width:250px;
  height:40px;
  background: rgba(0, 0, 0, 0.0);
  color:#fff;
  padding-left:10px;
}
.searchArea > form > span{
  width:50px;
  color:#fff;
}
.nav{
  display: flex;
  justify-content: flex-end;
  width:calc(1280px - 300px);
  line-height: 86px;
}
.nav > li {
  margin-left:84px;
}

.nav > li > a {
  color: rgb(164, 0, 230);
  font-size: 20px;
  font-weight: bold;
}


.nav > li > a:hover{
  color: black;
}


.amount{
  position: relative;
  top:-66px;
  display: flex;
  width:1280px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.amount > li {
  flex: 1;
  height: 132px;
}
.amount > li > div {
  text-align: center;
  margin-top:20px;
  height:57px;
}

.amount > li:not(:last-child) > div{
  border-right:1px solid #E1E1E1;
}
.intro_text{
  width:100%;
  margin:231px auto 231px auto;
  text-align: center;
}
.intro_text > h1,
.intro_text > h4{
  color:#fff;
}




.main_text0{
  width: 100%;
  height:601px;
  margin-top:-132px;
  background-color: black;
  color: #f1f2f3;
}
.main_text0 > h1{
  padding-top:116px;
  text-align: center;
}
.main_text0 > .contents1 {
  text-align: center;
}


.icons{
  display: flex;
  width:1280px;
  height: 200px;
  margin:auto;
}

.icons > li {
  flex: 1;
  background: black;
  text-align: center;
}
.icons > li > .icon_img{
  margin: 0px;

} 

ul > li > a .icon_img {
  position:relative;
  overflow:hidden;
}

ul > li > a .icon_img .top {
  position:absolute;
  bottom:150%;
  left:30px;z-index:2;
  color:#fff;
  font-size:26px;
  font-weight:900;
  transition:all .35s;
}

ul > li > a .icon_img .bottom {
  position:absolute;
  top:150%;
  left:30px;
  z-index:2;
  color:#fff;
  font-size:12px;
  transition:all .35s;
}

ul > li > a .icon_img img {
  width:100%;
}

ul > li > a h3 {
  font-size:14px;
  text-align:center;
  padding:20px;
  color:#666;
}

ul > li > a .icon_img::after {
  content:'';
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.5);
  z-index:1;
  opacity:0;
  transition:all .35s;
}

ul > li > a:hover .top {
  bottom:52%;
}
ul > li > a:hover .bottom {
  top:52%;
}

ul > li > a:hover .icon_img::after {
  opacity:1;
}

.icons > li:not(:last-child){
  margin-right: 20px;
}

.icons .contents2 {
  width:280px;
  margin:auto;
  letter-spacing: -1px;
}
.more{
  width:100px;
  height: 30px;
  background: #2F7AF4;
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  margin:25px auto;
}


.main_text1{
  width: 100%;
  height:659px;
  background-color: black;
}
.main_text1 > h1{
  padding-top:50px;
  text-align: center;
  color: white;
}
.main_text1 > .contents1 {
  text-align: center;
  color: white;
}
.service {
  width:1280px;
  display: flex;
  margin: 49px auto;
  height:427px;
}

.service > .contents2 {
  padding: 20px;
  color: white;
}
.service > .contents2 > h2{
  margin-bottom: 27px;
  color: white;
}

body{
  background-color: black;
}

.main_text2 {
  margin-top: 100px;
  width:100%;
  height:418px;
  background-image: url("image/contact.png");
}

.main_text2 > ul {
  display: flex;
  padding-top:138px;
}

.main_text2 > ul > li {
  flex: 1;
  text-align: center;
}

.main_text2 > ul > li > div > h1{
  color: #fff;
}

.main_text2 > ul > li > div {
  color: #fff;
}



.more2{
  width:220px;
  height:40px;
  border: 1px solid #fff;
  color: #fff;
  line-height: 40px;
  cursor: pointer;
  margin:16px auto;
}

.more2:hover{
  background-color: rgb(10, 95, 252);
}

.footer{
  display: flex;
  background: #1f1f1f;
  padding:30px;
}
.footer > div:first-child {
  flex:3;
  text-align: left;
  color: #fff;
}
.footer > div {
  flex:1;
  color: #fff;
  float: left;
}

.title {
  padding-bottom: 10px;
  font-size: 20px;
  color: #fff;
}

.item .txt01 {
  display: block;
  max-width: 145px;
  padding: 8px 0;
  font-size: 15px;
  color: #999;
}




